PORT=4000
NODE_ENV=development

DB_USER=sa
DB_PASSWORD=YourStrongPassword123
DB_SERVER=localhost
DB_DATABASE=SLBFE_Coursework
DB_PORT=1433
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

JWT_SECRET=replace-this-with-a-long-random-secret
JWT_EXPIRES_IN=8h
UPLOAD_DIR=uploads
